name: 'upload-to-cdn'

on:
  push:
    branches:
      - 'main'
      - 'dev-*'

jobs:
  upload:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: 'actions/checkout@v3'
      - uses: 'actions/setup-node@v3'
        with:
          node-version: '16'
          registry-url: "https://npm.pkg.github.com"
          cache: 'npm'
      - name: 'Install dependencies'
        run: 'npm install'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: 'Build packages'
        run: 'npm run build'

      - name: dev-upload
        uses: nais/frontend-plattform-cdn-upload-action@main
        with:
          cdn-environment: cdn.dev.nav.no
          cdn-team-name: min-side
          cache-invalidation: true
          source: ./shared
          destination: ''

      - name: prod-upload
        uses: nais/frontend-plattform-cdn-upload-action@main
        with:
          cdn-environment: cdn.nav.no
          cdn-team-name: min-side
          cache-invalidation: true
          source: ./shared
          destination: ''
